.App {
  text-align: center;  
}
.App-background{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}
.me-auto{
  text-align: left;
  width: 100%;
  background-color: white;
}
.nav{
  background-color: white;
}
.navbar-link {
  float: left;
  padding: 24px;
  text-decoration: none;
  font-size: 26px;
  width: 25%;
  text-align: center; 
  color:black;
}
.navbar-link:hover {
  background-color: rgba(190, 50, 50, 0.726);
}
.info{
  background-color: white;
  color:black; 
  margin-left: 60px;
  margin-right: 60px;  
} 

h5{
  color: white;
  
}
.home{
  text-align: left;
  font-size: 55px;
  font-weight: 700;
  color:white;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  width: 600px;
  height: 200px;
  padding-left: 1em;
  padding-right: 2em;
  align-items: left;  
}
.about{
  margin-top: 100px;
  background-color: white;
  font-size: 22px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 100px;
  
}
.tile{
  width: 43%;
  padding-top: 3%;
  align-items:flex-end;
  padding-left: 80px;
  padding-bottom: 3%;
}
/* .carousel{
  margin-top: 100px;
  background-color: white;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 22px;
  align-items: center;
} */

.footer1{
  margin-top: 0.25 rem;
  padding:0.25 rem;
  background-color:white ;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: large; 
  justify-content: space-between;
}

.footer2{
  display: "flex";
  justify-content:"space-between";
}

.formcontainer{
  margin-top: 100px;
  background-color:white;
  width:700px;
  border-radius: 10px;
  margin-left: 5px;
}

.photocontainer{
  background-color: white;
  margin-top: 100px;
  border-radius: 10px;
}

.textcontainer{
  margin-top:100px;
  top:20px;
  width:800px;
  height:400px;
  border-radius: 10px;
}

.tagline{
  background-color: white;
  margin-top:100px;
  top:20px;
  width:800px;
  align-self: left;
  
  }

